<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{> header }}
    {{{body}}}
    <script type="text/javascript" src="../../public/javascripts/jquery-3.2.1.min"></script>
    <script type="text/javascript" src="../../"></script>
    <script type="text/javascript" src="./assets/js/bootstrap.min.js"></script>
  </body>
</html>
