<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/stylesheets/bootstrap.min">
    <link rel='stylesheet' href='../../public/' />
  </head>
  <body>
    {{> header }}
    {{{body}}}
    <script type="text/javascript" src="../../public/javascripts/jquery-3.2.1.min"></script>
    <script type="text/javascript" src="../../public/javascripts/popper.min"></script>
    <script type="text/javascript" src="../../public/javascripts/bootstrap.min"></script>
  </body>
</html>
