<div class="span10 offset1">
    <div class="row">
        <h3>Student's Information</h3>
        <div class="cardContainer readMe">
            <div class="card">
                <h5 class="card-header boldMe">Student Name:</h5>
                <div class="card-body">
                    <p class="card-text">{{student.studentName}}</p>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header boldMe">Student Percentage:</h5>
                <div class="card-body">
                    <p class="card-text">{{student.studentPercent}}</p>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header boldMe">Student Letter Grade:</h5>
                <div class="card-body">
                    <p class="card-text">{{student.studentLetterGrade}}</p>
                </div>
            </div>

            <div class="form-actions">
                <a class="btn btn-danger" href="/">Back</a>
            </div>
        </div>
    </div>
</div>