<div class="span10 offset1 centerThis">
    <div class="row">
        <h3>Delete A Student</h3>
    </div>
    <div class="formContainer readMe">
        <form class="form-horizontal deleteForm" action="/delete/{{id}}" method="GET">
            <input type="hidden" name="id" value="{{student.id}}"/>
            <h4 class="alert alert-error">Are you sure you want to delete {{student.studentName}}</h4>
            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Yes</button>
                <a class="btn btn-warning" href="/">No</a>
            </div>
        </form>
    </div>
</div>