<h1>
    Create A Student
</h1>
<p>
    <a href="/" class="btn btn-danger">Back</a>
</p>
<form class="needs-validation" action="/student-save" method="POST" novalidate>
  <div class="form-group">
    <label for="name">Student Name</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="emailHelp" placeholder="Enter student name" required>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div>
  <div class="form-group">
    <label for="percentage">Student Grade Percentage</label>
    <input type="number" class="form-control" name="percentage" id="percentage" placeholder="Enter student grade percentage" required>
    <div class="valid-feedback">
        Looks good!
    </div>
  </div>
  <button type="submit" class="btn btn-success" >Create Student</button>
</form>