<form>
  <div class="form-group">
    <label for="name">Student Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="percentage">Student Grade Percentage</label>
    <input type="number" class="form-control" name="percentage" id="percentage" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Create Student</button>
</form>