<h1>
    Update Student Information
</h1>
<p>
    <a href="/" class="btn btn-danger">Back</a>
</p>
<form action="/student/{{student.id}}" method="PUT">
  <div class="form-group">
      
    <label for="name">Student Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="{{student.studentName}}">
  </div>
  <div class="form-group">
    <label for="percentage">Student Grade Percentage</label>
    <input type="number" class="form-control" name="percentage" id="percentage" placeholder="{{student.studentPercent}}">
  </div>
  <button type="submit" class="btn btn-success">Edit Student</button>
</form>