<h1>
    Update Student Information
</h1>
<p>
    <a href="/" class="btn btn-danger">Back</a>
</p>
<form class="needs-validation" action="/update-student/{{student.id}}" method="Post" novalidate>
    <div class="form-group">
        <input type="hidden" name="id" id="id" value="{{student.id}}">
    </div>
    <div class="form-group">
        <label for="name">Student Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="{{student.studentName}}" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="form-group">
        <label for="percentage">Student Grade Percentage</label>
        <input type="number" class="form-control" name="percentage" id="percentage" placeholder="{{student.studentPercent}}" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button type="submit" class="btn btn-success">Edit Student</button>
</form>